# Rust
backend/target/
backend/data/
backend/.env

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/android/.gradle/
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/**/*.g.dart
mobile/**/*.freezed.dart

# General
.DS_Store
*.env
